name: CI

on:
  pull_request:
  push:
    branches: main

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - id: generate
        uses: freckle/stack-action/generate-matrix@v5
    outputs:
      stack-yamls: ${{ steps.generate.outputs.stack-yamls }}
      fail-fast: false

  test:
    needs: generate
    runs-on: ubuntu-latest

    strategy:
      matrix:
        stack-yaml: ${{ fromJSON(needs.generate.outputs.stack-yamls) }}
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      # See https://github.com/commercialhaskell/stack/issues/5159. To avoid
      # this bug, we'll skip doctests generally and run them ourselves, only in
      # the default job.
      - id: stack
        uses: freckle/stack-action@v5
        with:
          stack-yaml: ${{ matrix.stack-yaml }}
          stack-build-arguments: --coverage --skip doctest

      - if: ${{ matrix.stack-yaml == 'stack.yaml' }}
        run: |
          stack build bcp47:doctest --fast --pedantic --test

      - if: ${{ matrix.stack-yaml == 'stack.yaml' }}
        name: Reformat coverage
        run: |
          tix='${{ steps.stack.outputs.local-hpc-root }}/combined/all/all.tix'
          stack --resolver lts-18.28 --no-terminal install --copy-compiler-tool hpc-lcov
          stack --resolver lts-18.28 --no-terminal exec -- hpc-lcov --file "$tix"

      - if: ${{ matrix.stack-yaml == 'stack.yaml' }}
        name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          files: ./lcov.info

  hlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: haskell/actions/hlint-setup@v2
      - uses: haskell/actions/hlint-run@v2
        with:
          fail-on: warning
