name: Release

on:
  push:
    branches: main

jobs:
  release:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        package:
          - bcp47
          - bcp47-orphans

    steps:
      - uses: actions/checkout@v6

      - id: tag
        uses: freckle/haskell-tag-action@v1
        with:
          package-yaml: ${{ matrix.package }}/package.yaml
          tag-prefix: ${{ matrix.package }}-v

      - if: steps.tag.outputs.tag
        uses: freckle/stack-upload-action@v2
        with:
          working-directory: ${{ matrix.package }}
        env:
          HACKAGE_API_KEY: ${{ secrets.HACKAGE_UPLOAD_API_KEY }}
          STACK_YAML: ../stack-lts-16.31.yaml

